{% load Tag_lecteur_pdf %}
{% load static from staticfiles %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>


</head>
<body>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo in neque nostrum, porro quasi similique totam.
    Aspernatur aut autem culpa cupiditate delectus distinctio doloribus fugiat ipsa iusto laborum, quasi quidem
    repellat, tempore ut voluptatum. Accusantium commodi deleniti deserunt doloremque dolorum ducimus eaque eius error
    est hic illo inventore, labore libero magni nulla possimus quod reiciendis saepe sapiente sequi similique sunt
    suscipit vero. Aspernatur autem dolor magni nulla odit, reiciendis vitae voluptates! Deserunt dolor eveniet
    exercitationem inventore ipsam magni rerum saepe? A at cum cumque dignissimos dolor eaque error esse facere fuga
    laboriosam magnam, modi neque nesciunt, optio pariatur quae qui quibusdam quidem quo rem soluta suscipit
    voluptatibus? Accusamus aliquam asperiores consequuntur deleniti dicta dignissimos dolor doloribus eaque eos et ex
    harum itaque laboriosam, molestias natus officia optio possimus, quasi qui quidem repellat sit voluptatem. Adipisci
    aliquam atque distinctio error exercitationem maiores mollitia possimus quisquam velit, voluptates? Ab aliquid aut
    beatae deserunt, dolore dolores exercitationem minima omnis perferendis perspiciatis possimus recusandae velit
    veritatis. Ab, autem debitis dolore ex expedita mollitia nesciunt pariatur quia reiciendis vitae! Alias, autem,
    culpa, delectus dolores est ex facilis fuga inventore iure nam nisi perferendis placeat quas sed sit! Accusantium
    assumenda aut, error excepturi iusto placeat rem!</p>


{% lecteur_pdf pdfid=6  w=400 h=500 %}







</body>
</html>