{% load TagLecteurPdf %}
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'pdfviewerapp/css/bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>

</head>
<div class="container">
    <div class="col-md-12">
        <h1>PDF FILES LIST</h1>
    <ul>
        {% for book in books %}
            <li>{{ book }}</li>
        {% endfor %}
    </ul>
    </div>

    <div class="col-md-12">
        <h1>PDF VIEWER</h1>
        {% lecteur_pdf pdfid=6 h=450 %}
    </div>
</div>

</body>
</html>